<app-navbar></app-navbar>
<div class="row login-margin dashboard-layout-fix">
    <div class="col-md-3 col-sm-12">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Total Leads</h5>
              <h2>200</h2>
            </div>
          </div>
    </div>
    <div class="col-md-3 col-sm-12">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Approved Leads</h5>
              <h2>150</h2>
            </div>
          </div>
    </div>
    <div class="col-md-3 col-sm-12">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Rejected Leads</h5>
              <h2>25</h2>
            </div>
          </div>
    </div>
    <div class="col-md-3 col-sm-12">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Pending Leads</h5>
              <h2>25</h2>
            </div>
          </div>
    </div>
</div>
