<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card card-top">
            <div class="card-title">
               <h2 class="text-center">Reset Password</h2> 
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="email">Enter Registered Email Address</label>
                        <input 
                            type="email" 
                            class="form-control" 
                            id="email" 
                            name="email">
                    </div>
                    
                    <p class="text-center">
                        <br>
                        <button class="btn btn-primary" routerLink="/">Reset Password</button>
                    </p>
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <button class="btn btn-clear" routerLink="/">Back to Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>